/* Kotak profil */
.profile-box {
  padding: 20px;
  background-color: #e2e8f0;
  border-radius: 12px;
  border: 2px solid #94a3b8;
  margin-bottom: 20px;
}

/* Nama */
.profile-name {
  color: rgb(0, 102, 255);
  font-weight: bold;
  font-size: 20px;
}

/* Deskripsi */
.profile-desc {
  color: #475569;
  font-size: 14px;
  margin-top: 8px;
}
