.button {
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

/* Style DEFAULT */
.default {
  background-color: #e2e8f0;
  color: #1e293b;
}

.default:hover {
  background-color: #cbd5e1;
}

/* Style PRIMARY */
.primary {
  background-color: #2563eb;
  color: white;
}

.primary:hover {
  background-color: #1d4ed8;
}
